<div class="container">
    <div>
    <h2>Modifier un Tv :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >ID TV</label>
            <input type="text" [(ngModel)]="currentTv.idTv"
            name="idTv" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom TV</label>
            <input type="text"[(ngModel)]="currentTv.nomTv"
            name="nomTv" class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Prix TV</label>
            <input type="number" [(ngModel)]="currentTv.prixTv"
            name="prixTv" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date création</label>
            <input type="date" [(ngModel)]="currentTv.dateCreation"
            name="dateCreation" class="form-control">
            </div>
<div class="mt-2">
<button type="submit" (click)="updateTv()" class="btn btn-success">Modifer</button>
</div>
</form>
</div>
